/*General css class*/
* {
    
    margin: 0 ;
    padding: 0;
    box-sizing :border-box;
    font-family: "Poppins",sans-serif; 
    color: #eeeeee;
}
* h3{
    margin-top: 2%;
    color: #aed0ff;
}

.header{
    position :relative;
    top : 0;
    left : 0;
    width :100%;
    padding: 15px 10%;
    background-color: transparent;
    display : block;
    justify-content: space-between;
    align-items: center;
  
}
.header img{
    position: relative;
    margin-left: 10px;
    height: 20px;
    
    
}
 .simg {

    height: 20px;
    position: absolute;
    top:40%;
    right :10%;
}

.me{
    border-radius: 50%;
    display : flex;
    margin-left: 20%;
    justify-content: right;
}


.logo{
    font-size: 32px;
    color: #fff;
    font-weight: 600;
    position : relative;

}

.navbar{ 
    margin-left: 10%;
    margin-top: 16px;
}
.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position : absolute;
    width : 0%;
    height: 2px;
    top:100%;
    transition: .5s;

}

.navbar a:hover::before{
    width: 100%;
    background-color: #256fd6;
}
.navbar a:active::after{
    
    width: 100%;
   
    background-color: #d62525;
}


.homeContent ul li{
    margin-left: 5%;
}

.homeContent ul p{
    margin-left: 5%;
    margin-bottom: 1%;
}
.image-grid {
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .image-grid img {
    width: 70%;
    height: auto;
  }



main h3{
    margin-top: 2%;
    color: #aed0ff;
}

.social-button{
    background-color: transparent;
    border-radius: 10px;
    border-color: aquamarine;
    
    position : absolute;
    right : 5%;
    bottom: 30px;
    width: 80px;
    animation : circler infinite;

}


.projects{
    display : grid;
    grid-template-columns: auto auto auto;
}

.project-box{
    border-radius: 3%;
    border-color: black;
    background-color: #7e8186;

    margin-top: 3%;
    width: 50%;
    
    

    
}
.project-box img{
    width: 100%;
    border-radius: 3%;
}


.services li img{
    width : 2%;
    margin-right:1%; 
}
.navIcon{
    display: none;
}
@media (max-width: 768px) {
    .services li img{
        width: 15px;
        
    }
    .project-box{
        border-radius: 3%;
        border-color: black;
        background-color: #7e8186;
    
        margin-top: 7%;
        width: 90%;
        font-size: 10px;
    }
    main{
        font-size: 10px;
    }
    .image-grid{
        grid-template-columns: repeat(2,1fr);
    }


    .socialdrop{
        
        position : relative;
        bottom: 30px;
        display : flex;
        
        left: 10px;
    
        
    }
    
}

.socialdrop{
        position: absolute;
        display : flex;
        
        justify-content: center;
        align-items: center;
        right : 5%;
        top: 105%;
        
    }